<div class="banner container-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?interior);">
</div>

<div class="position-relative">

  <div class="col-6 bg-light rounded-lg shadow-sm position-absolute">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>
</div>
